@import "style/config.scss";

.categories__banner {
    position: relative;
    z-index: 1;

    height: 66px;

    background-color: $title-color-text;
}

.categories__header {
    position: absolute;

    top: 20px;
    left: 20px;
    font-size: 18px;
    line-height: 140%;

    color: $secondary-color;
}