.single-category__page {
    position: relative;
    z-index: 1;

    height: 100%;
}

.single-category__header {
    display: flex;
    align-items: center;

    margin: 20px 20px;

    position: relative;
}

.single-category__title {

}

.single-category__body {
    position: relative;
    
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(134px, 1fr));

    padding: 0 20px;

}

.single-category__pattern {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}