@import "../../style/config.scss";
.categories__coffee {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

}
.cofee {

}
.coffee__title {
    font-size: 14px;
    font-weight: 800;
    line-height: 140%;

    color: $title-color-text;

    margin-left: 20px;
    margin-bottom: 12px;
}
.coffee__list {
    display: flex;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
      }
}