@import "./normalize.scss";
@import "./fonts.scss";
@import "./config.scss";
@import "./shopColorPatterns.scss";

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;

}

.app {
  display: flex;

  min-height: 930px;
  height: calc(100vh - 5px);
  max-height: 1300px;

  margin: 0;

  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;

  background-color: #242424;
}

.main {
  position: relative;

  width: 100%;
  height: 100%;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  background-color: #f3f4f0;

  box-sizing: border-box;


  @media (max-width: 600px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.button {
  background: #14AD99;

  border: 2px solid #383838;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  color: $secondary-color;

  cursor: pointer;
}


.text-center {
  margin: 0 auto;
}